section {
  padding: 1px;
}

img {
  display: block;
}

div.heading {
  background: #fde7ed;
}

.color-red {
  color: #ff4d4d !important;
}

div.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
div.container section.fv {
  color: red;
}
div.container section.cta {
  width: 100%;
  aspect-ratio: 1600/1292;
  background-image: url("../images/pc-img/cta-back.png");
  background-position: center;
  background-size: cover;
}
div.container section.cta p {
  font-size: min(35px, 2.1875vw);
  font-weight: normal;
  text-align: center;
  color: #413f3f;
  opacity: 0.8;
}
div.container section.cta p:nth-of-type(1) {
  padding: 170px 0 0;
}
div.container section.cta h2 {
  font-family: "Noto Sans CJK JP";
  font-weight: 900;
  font-size: min(88px, 5.5vw);
  text-align: center;
  color: #262626;
  opacity: 0.8;
}
div.container section.cta h2 span.red {
  font-family: Korolev;
  font-weight: bold;
  font-size: min(142px, 8.875vw);
  text-align: left;
  color: #ff4d4d;
}
div.container section.cta img {
  display: block;
  width: min(69px, 4.3125vw);
  height: auto;
  margin: 0 auto;
}
div.container section.cta a {
  display: block;
  width: min(750px, 46.875vw);
  height: min(94px, 5.875vw);
  font-family: "Noto Sans JP";
  font-weight: bold;
  font-size: min(30px, 1.875vw);
  line-height: min(94px, 5.875vw);
  text-align: center;
  color: #fff;
  background: #317104;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
}
div.container section.place div.heading h2 {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(68px, 4.25vw);
  text-align: center;
  color: #5a5a5a;
  opacity: 0.7;
}
div.container section.place div.heading p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(30px, 1.875vw);
  text-align: center;
  color: #413f3f;
  opacity: 0.6;
}
div.container section.place div.heading p:nth-of-type(1) {
  padding: min(50px, 3.125vw) 0 min(86px, 5.375vw);
}
div.container section.place div.heading p img {
  display: inline-block;
  height: min(30px, 1.875vw);
}
div.container section.place div.place-content {
  aspect-ratio: 1600/1330;
  background-image: url("../images/pc-img/place-back.png");
  background-position: center;
  background-size: cover;
}
div.container section.place div.place-content p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(37px, 2.3125vw);
  line-height: min(70px, 4.375vw);
  text-align: center;
  color: #413f3f;
  opacity: 0.8;
}
div.container section.place div.place-content img {
  display: block;
  width: min(1031px, 64.4375vw);
  height: min(687px, 42.9375vw);
  margin: 0 auto;
}
div.container section.voice div.heading {
  width: 100%;
  height: min(243px, 15.1875vw);
  background: #fde7ed;
  padding: 1px;
}
div.container section.voice div.heading img {
  width: min(1328px, 20.5vw);
  height: min(62px, 3.875vw);
  margin: min(92px, 5.75vw) auto 0;
}
div.container section.voice div.voice-content {
  width: 100%;
  height: min(1419px, 88.6875vw);
  background-image: url("../images/pc-img/voice-back.png");
  background-position: center;
  background-size: cover;
}
div.container section.voice div.voice-content div.voice-content-item {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
div.container section.voice div.voice-content div.voice-content-item div.voice-img-item img {
  display: block;
  width: min(280px, 17.5vw);
  height: auto;
}
div.container section.voice div.voice-content div.voice-content-item div.voice-img-item P {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(28px, 1.75vw);
  text-align: center;
  color: #413f3f;
}
div.container section.voice div.voice-content div.voice-content-item div.voice-text {
  width: min(834px, 52.125vw);
  margin-left: min(40px, 2.5vw);
}
div.container section.voice div.voice-content div.voice-content-item div.voice-text h3 {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(40px, 2.5vw);
  text-align: left;
  color: #413f3f;
}
div.container section.voice div.voice-content div.voice-content-item div.voice-text p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(30px, 1.875vw);
  text-align: left;
  color: #413f3f;
}
div.container section.effect div.heading {
  padding: 1px;
}
div.container section.effect div.heading img {
  width: min(976px, 61vw);
  height: min(167px, 10.4375vw);
  margin: min(55px, 3.4375vw) auto;
}
div.container section.effect div.effect-content {
  background-image: url("../images/pc-img/effect-back.png");
  background-position: center;
  background-size: cover;
  padding: 1px;
}
div.container section.effect div.effect-content div.effect-content-heading {
  width: 100%;
  background: #fff;
  opacity: 0.84;
  margin: min(26px, 1.625vw) auto;
}
div.container section.effect div.effect-content div.effect-content-heading h3 {
  font-family: "Hiragino Mincho ProN";
  font-weight: normal;
  font-size: min(35px, 2.1875vw);
  text-align: center;
  color: #454545;
  padding: min(30px, 1.875vw) 0;
}
div.container section.effect div.effect-content div.effect-content-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min(862px, 53.875vw);
  height: min(511px, 31.9375vw);
  margin: min(27px, 1.6875vw) auto;
}
div.container section.effect div.effect-content div.effect-content-outer div.effect-content-item {
  width: min(246px, 15.3125vw);
  height: min(246px, 15.3125vw);
  border-radius: min(123px, 7.6875vw);
  background: #fff;
  opacity: 0.8;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.16));
}
div.container section.effect div.effect-content div.effect-content-outer div.effect-content-item h4 {
  font-family: "Hiragino Mincho ProN";
  font-weight: normal;
  font-size: min(25px, 1.5625vw);
  line-height: min(41px, 2.5625vw);
  text-align: center;
  color: #646563;
}
div.container section.effect div.effect-content div.effect-content-outer div.effect-content-item h4:nth-child(1) {
  margin: min(45px, 2.8125vw) auto min(30px, 1.875vw);
}
div.container section.effect div.effect-content div.effect-content-outer div.effect-content-item h4:nth-child(2) {
  margin: min(25px, 1.5625vw) auto min(30px, 1.875vw);
}
div.container section.effect div.effect-content div.effect-content-outer div.effect-content-item p {
  font-family: "Hiragino Mincho ProN";
  font-weight: normal;
  font-size: min(30px, 1.875vw);
  line-height: min(41px, 2.5625vw);
  text-align: center;
  color: #347107;
}
div.container section.select div.heading {
  padding: 1px;
}
div.container section.select div.heading img {
  width: min(785px, 49.0625vw);
  height: min(65px, 4.0625vw);
  margin: min(92px, 5.75vw) auto min(85px, 5.3125vw);
}
div.container section.select div.select-content {
  padding: min(70px, 4.375vw) 0 min(34px, 2.125vw);
}
div.container section.select div.select-content div.select-content-item {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: min(36px, 2.25vw);
}
div.container section.select div.select-content div.select-content-item img {
  display: block;
  width: min(911px, 56.9375vw);
  height: auto;
}
div.container section.select div.select-content div.select-content-item div.select-content-item-text {
  width: min(480px, 30vw);
  padding-left: min(22px, 1.375vw);
}
div.container section.select div.select-content div.select-content-item div.select-content-item-text h3 {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(40px, 2.5vw);
  text-align: left;
  color: #413f3f;
  opacity: 0.8;
  padding-bottom: min(20px, 1.25vw);
}
div.container section.select div.select-content div.select-content-item div.select-content-item-text p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(23px, 1.4375vw);
  line-height: min(42px, 2.625vw);
  text-align: left;
  color: #413f3f;
  padding-bottom: min(20px, 1.25vw);
}
div.container section.select div.select-content div.select-content-item div.select-content-item-text span {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(15px, 0.9375vw);
  line-height: min(24px, 1.5vw);
  text-align: left;
  color: #413f3f;
}
div.container section.qa div.heading {
  padding: min(83px, 5.1875vw) 0 min(70px, 4.375vw);
}
div.container section.qa div.heading img {
  margin: 0 auto;
}
div.container section.qa div.qa-content {
  width: 100%;
  height: min(896px, 56vw);
  background-image: url("../images/pc-img/qa-back.png");
  background-position: center;
  background-size: cover;
}
div.container section.qa div.qa-content div.qa-content-item {
  width: calc(100% - min(600px, 37.5vw));
  margin: 0 auto;
  padding: min(45px, 2.8125vw) 0 min(37px, 2.3125vw);
}
div.container section.qa div.qa-content div.qa-content-item h3 {
  position: relative;
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(35px, 2.1875vw);
  text-align: left;
  color: #413f3f;
}
div.container section.qa div.qa-content div.qa-content-item h3::before {
  content: "";
  position: absolute;
  top: -50%;
  left: min(-36px, -2.25vw);
  display: block;
  width: min(71px, 4.4375vw);
  height: min(93px, 5.8125vw);
  background-image: url("../images/pc-img/Q..png");
  background-position: center;
  background-size: cover;
}
div.container section.qa div.qa-content div.qa-content-item p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(25px, 1.5625vw);
  text-align: left;
  color: #5a5a5a;
}
div.container section.last-text {
  width: 100%;
  height: min(629px, 39.3125vw);
  background-image: url("../images/pc-img/last-back.png");
  background-position: center;
  background-size: cover;
}
div.container section.last-text p {
  font-family: "Ten Mincho Text";
  font-weight: normal;
  font-size: min(38px, 2.375vw);
  text-align: left;
  color: #413f3f;
  opacity: 0.7;
  padding: min(159px, 9.9375vw) 0 min(134px, 8.375vw) min(227px, 14.1875vw);
}/*# sourceMappingURL=style.css.map */